
<!-- CARRUSEL -->

<div onclick="location.href ='novedades.html'" class="carousel-inner" style="cursor: pointer">
  <div class="carousel-caption d-none d-md-block">
    <h5><strong>Últimas novedades</strong></h5>
    <p>La navidad ha llegado a Canary Style</p>
  </div>
  <div class="carousel-item active">
    <!-- <img src="https://www.tellingthetruth.org/images/default-source/popular-hot-topics/meaningchristmas-lghero-2000x400.jpg?sfvrsn=9c097deb_0" class="d-block w-100 carruimg" alt="..."> -->
    <img src="https://www.the-espgroup.com/wp-content/uploads/2017/02/delay-repay-image-2000x300.jpg" class="d-block w-100 carruimg" alt="...">
  </div>
</div>

<!-- IMAGENES HOMBRE-MUJER -->

<div class="mt-3">
  <div class="img-hombre-mujer">
    <div class="container textOver">
      <div class="imgtext">Hombre</div>
      <img onclick="location.href ='/products/hombre'" src="https://www2.hm.com/content/dam/campaign-men-s00/november-2019/6140f/6140F-3x2-festive-season-party-looks-men.jpg" class="img-fluid imghombre" alt="Responsive image">
    </div>

    <div class="container textOver">
      <div class="imgtext">Mujer</div>
      <img onclick="location.href ='/products/mujer'" src="https://sculptureintheparklands.com/wp-content/uploads/wallhaven-1939871.jpg" class="img-fluid imgmujer" alt="Responsive image">
    </div>
  </div>
</div>

<!-- TEXTO BIENVENIDA -->
<!-- Jumbotron -->
  <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);">
    <div class="blackbackground"></div>
  <div class="text-white text-center rgba-stylish-strong py-5 px-4 jumbocontent">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text"><i class="fas fa-tshirt"></i> Moda</h5>
      <h2 class="card-title h2 my-4 py-2">Por fin ha llegado la navidad</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">Para celebrar la navidad juntos, hemos aplicado increibles descuentos a nuestro catálogo</p>
      <button type="button" onclick="window.location.href='/products/novedades'" class="btn btn-outline-light"><i class="fas fa-clone left"></i> Ver catálogo</button>

    </div>
  </div>
</div>

<!-- FOOTER -->
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm footercontent mt-3">
        <h3>CANARY STYLE</h3>
        <p>Avda. Mesa y López<br>
          Las Palmas de G.C.<br>
          Las Palmas<br>
          35010</p>
      </div>
      <div class="col-sm footercontent mt-3">
        <h3>CONTACTA CON NOSOTROS</h3>
        <p>mail: support@canarystyle.com</p>
        <p>tlf: 687412569</p>
      </div>
      <div class="col-sm footercontent mt-3">
        <h3>SIGUENOS EN</h3>
        <%= image_tag("facebook.png") %>
        <%= image_tag("twitter.png") %>
        <%= image_tag("youtube.png") %>
        <%= image_tag("instagram.png") %>
      </div>
    </div>
  </div>
</footer>