/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */

body{
  background: #fbfbfb;
}

.bg-light{
  background-color: white !important;
}

.form-inline {
  display: inline-block;
}
.navbar-header.col {
  padding: 0 !important;
}
.navbar {
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}
.navbar .navbar-brand {
  color: #555;
  padding-left: 0;
  padding-right: 50px;
  font-family: 'Merienda One', sans-serif;
}
.navbar .navbar-brand i {
  font-size: 20px;
  margin-right: 5px;
}
.search-box {
  position: relative;
}
.search-box input {
  box-shadow: none;
  padding-right: 35px;
  border-radius: 3px !important;
}
.search-box .input-group-addon {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 7px;
  height: 100%;
}

.navbar .nav-item i {
  font-size: 18px;
}
.navbar .dropdown-item i {
  font-size: 16px;
  min-width: 22px;
}
.navbar .nav-item.open > a {
  background: none !important;
}
.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
  color: #777;
  padding: 8px 20px;
  line-height: normal;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
  color: #333;
}
.navbar .dropdown-item .material-icons {
  font-size: 21px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}
.navbar .badge {
  background: #f44336;
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  min-width: 10px;
  padding: 4px 6px 0;
  min-height: 18px;
  top: 5px;
}

.badge{
  color: white;
}
.navbar ul.nav li a.notifications, .navbar ul.nav li a.messages {
  position: relative;
  margin-right: 10px;
}
.navbar ul.nav li a.messages {
  margin-right: 20px;
}
.navbar a.notifications .badge {
  margin-left: -8px;
}
.navbar a.messages .badge {
  margin-left: -4px;
}
.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
  background: transparent !important;
}

// MODAL
.modal-login {
  color: #636363;
  width: 350px;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
  border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-login .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-login .modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  justify-content: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
}
.modal-login .modal-footer a {
  color: #999;
}
.modal-login .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #60c7c1;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
  width: 100%;
}
.modal-login.modal-dialog {
  margin-top: 80px;
}
.modal-login .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
  background: #45aba6;
  outline: none;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.avatarnav{
  margin-right: 4px;
}

//CARRUSEL


.carousel-caption{
  font-family: 'Merienda One', sans-serif;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 2px 2px 2px rgba(0,0,0,.5);
}

.carousel-caption > h5{
  font-size: 20px;
}

.carousel-caption > p{
  font-size: 16px;
}

//IMAGEN HOMBRE-MUJER

.img-hombre-mujer{
  display: grid;
  grid-template-columns: 50% 50%;
}

.img-fluid {
  height: 95%;
  width: 100%;
}

.imghombre{
  cursor: pointer;
  transition-duration: 1s;
}

.imghombre:hover, .imgmujer:hover{
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.35);
}

.imgmujer{
  cursor: pointer;
  transition-duration: 1s;
}

.imgtext{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: White;
  font-family: 'Merienda One', sans-serif;
  font-size: 40px;

  color: White;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 2px 2px 2px rgba(0,0,0,.5);
}

.textOver{
  position: relative;
  text-align: center;
}

//TEXTO BIENVENIDA
.card-image{
  background-position: center;
}

.blackbackground{
  position: absolute;
  background-color: black;
  z-index:1;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.jumbocontent{
  z-index: 2;
}

// FOOTER

.footercontent, .jumbowelcome{
  text-align: center;
}

.footercontent > h3{
  font-family: 'Merienda One', sans-serif;
}

.footercontent > p{
  font-family: 'Quicksand', sans-serif;
}

.footerhr{
  width: 80%;
}

// CARDS

.cardpadding{
  padding-bottom: 0 !important;
}

.cuadrado{
  width: 15px;
  height: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 5px;
}

.color{
  display: grid;
  grid-template-columns: 25px auto;
}

.enlace{
  text-decoration: none;
  color: currentColor;
}

.enlace:hover{
  text-decoration: none;
  color: currentColor;
}

.productcard{
  margin-bottom: 20px;
  width: 25em;
  cursor: pointer;
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.productcard:hover{
  box-shadow: black;
  -webkit-box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.26);
  box-shadow: 7px 7px 15px 0px rgba(0,0,0,0.26);
}

#productos{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
}

.price{
  font-weight: bold;
  font-size: 20px;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.discount{
  display: grid;
  grid-template-columns: 75px auto auto;
}

.priceinteger{
  grid-template-columns: 50px auto auto !important;
}

.exprice{
  font-size: 16px;
  margin-top: 4px;
  font-weight: lighter;
  text-decoration: line-through;
  color: red;
  font-family: 'Quicksand', sans-serif;
  text-align: right;
  text-shadow: 0 0 10px #ff3100;
}

.offerbadge{
  margin-top: 4px;
  text-shadow: none;
}


// MEDIAQUERYS
@media (min-width: 1200px){
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
}
@media (max-width: 1199px){
  .form-inline {
    display: block;
    margin-bottom: 10px;
  }
  .input-group {
    width: 100%;
  }
}

// PRODUCT VIEW
.gridproduct{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

.priceintegerProductView > p{
  text-shadow: 2px 4px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3), 2px 2px 2px rgba(206,89,55,0);
}

.imgProduct, .mainInfo{
  width: 95%;
}

.mainInfo{

}

.discountProductView{
  display: grid;
  grid-template-columns: 110px 60px auto;
  text-shadow: 2px 4px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3), 2px 2px 2px rgba(206,89,55,0);

}

.priceintegerProductView{
  display: grid;
  grid-template-columns: 110px 60px auto;
}

.discountProductView, .priceintegerProductView{
  font-size: 30px;
}

.offerbadgePV{
  margin-top: 0.8em;
}
.title, .price{
  text-align: left;
}

.title{
  font-family: Quicksand, sans-serif;
  font-size: 30px;
}

.title > p, .price>p {
  margin:0;
  padding: 0;
  overflow: hidden;
}

.ref{
  font-size: 14px;
  font-weight: lighter;
}

.expricePV{
  font-size: 16px;
  font-weight: lighter;
  text-decoration: line-through;
  color: black;
  font-family: 'Quicksand', sans-serif;
  margin-top: 14px !important;
}

.ofertaSINDECIMAL{
  grid-template-columns: 70px 50px auto !important;
}

.talla{
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

.tutalla{
  margin-top: 5px;
  font-weight: bold;
  color: green;
}

.textPV{
  text-justify: inter-word;
  font-size: 15px;
}

.btncarrito{
  width: 100%;
  margin-top: 10px;
}

.carritoIconPV{
  margin-right: 5px;
}

/* WIDTH */
@media only screen and (min-width: 300px){
  .mainproductos{margin-left: 1em;}
  #productos{grid-template-columns: 100%;}
  .productcard{width: 16em;}
}

@media only screen and (min-width: 350px){
  .mainproductos{margin-left: 1em;}
  #productos{grid-template-columns: 100%;}
  .productcard{width: 20em;}
}

@media only screen and (min-width: 400px){
  #productos{grid-template-columns: 100%; justify-items: center;}
}

@media only screen and (min-width: 600px){
  #productos{grid-template-columns: 100%;}
}

@media only screen and (max-width: 600px){
  .img-hombre-mujer{grid-template-columns: 100%;}
  .imghombre{margin-bottom: 1em;}
}

@media only screen and (min-width: 700px){
  #productos{grid-template-columns: 50% 50%;}
}


@media only screen and (min-width: 930px){
  #productos{grid-template-columns: 33.33% 33.33% 33.33%;}
}


@media only screen and (min-width: 1250px){
}

@media only screen and (min-width: 1300px){
  #productos{grid-template-columns: 25% 25% 25% 25%;}
}

@media only screen and (min-width: 1700px){
  #productos{grid-template-columns: 20% 20% 20% 20% 20%;}
}




