
<div class="container-fluid">
  <div class="mt-4 mainproductos">
    <div id="productos">

      
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body cardpadding">
          <h5 class="card-title">Card title</h5>
          <div class="color">
            <div class="cuadrado"></div>
            <p class="card-text">Blanco</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"></li>
        </ul>
        <div class="card-body">17€</div>
      </div>

    </div>
  </div>
</div>

